.middle-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--color-gris-borde);
    border-radius: 5px;
    background-color: var(--color-blanco);
}

    .middle-section h2 {
        font-size: 20px;
        margin-bottom: 15px;
        color: var(--color-gris-oscuro);
        font-weight: bold;
        text-align: center;
    }

body {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

.qr-container {
    display: flex; /* Centrado del contenido interno */
    justify-content: center; /* Centra el QR dentro */
    align-items: center;
    width: fit-content; /* Se ajusta al tamaño del QR */
    padding: 1rem;
    border: 2px solid #93c5fd;
    border-radius: 0.5rem;
    animation: pulse 2s infinite;
    background-color: white;
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    }
}

p {
    color: rgb(107, 114, 128);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}
